*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    margin-bottom: 50px;
}

header h1{
    font-size: 40px;
}

.btn{
    text-align: center;
    margin-top: 30px;
    padding: 10px 10px;
    border-radius: 7px;
    background-color: skyblue;
    border: none;
    color: white;
}

main{
    width: 50%;
    margin: auto;
    height: 600px;
    display: flex;
}

.center{
    margin: auto;
    width: 600px;
    height: 100%;
    position: relative;
}


.image > img{
    width: 100%;
}

body{
    font-family: 'Orelega One', cursive;
}

.select-img{
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    width: 200px;
    height: 35px;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translatex(-50%);
}
.select-img > i{
    color: rgba(999, 999, 999, 0.5);
    font-size: 15px;
    cursor: pointer;
}

/* Classe che colora il pallino di bianco */
.select-img > i.active{
    color: white;  
}

.sx, .dx{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sx{
    justify-content: end;
    margin-right: 10px;
}
.sx i{
    font-size: 40px;
    cursor: pointer;
}
.dx{
    justify-content: start;
    margin-left: 10px;
}
.dx i{
    font-size: 40px;
    cursor: pointer;
}

.timer{
    width: 50%;
    margin: auto;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}


